/* title */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
/* body */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
  font-size: 15px;
  padding: 0;
  margin: 0;
  height: 100vh;
}

picture,
figure,
img {
  width: 100%;
  max-width: 100%;
}